header {
  display: flex;
  justify-content: space-between;
  height: 30px;
  .logo {
    width: 140px;
    height: auto;;
  }
  .tmpIconHeader {
    width: 30px;
  }  
}
.header__actions {
  display: flex;
}
.searchBar {
  width: 100%;
  margin: 0 10%;
  border:none;
  outline:0;
  border-bottom: 1px solid #ccc

}