header {
  display: flex;
  justify-content: space-between;
  vertical-align: center;
  height: 50px;
  margin-bottom: 20px;
  background: $headerBck;


  & > a {
    display: inherit;
  }
  .logo {
    width: 140px;
    height: auto;
  }
  .tmpIconHeader {
    width: 30px;
  }  
}

.header__actions {
  display: flex;

  .notifs,
  .profile {
    position: relative;
  }
}

.notifs__content,
.profile__content {
  display: none;
}

.searchBar {
  width: 100%;
  margin: 0 10%;
  border:none;
  outline:0;
  border-bottom: 1px solid #ccc
}