header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 25px;
  margin-bottom: 20px;
  background: $headerBck;


  & > a {
    display: inherit;
  }
  .logo {
    width: 140px;
    height: auto;
  }
  .tmpIconHeader {
    width: 30px;
  }  
}

.header__actions {
  display: flex;
  align-items: center;

  .notifs,
  .profile {
    position: relative;
  }


  img {
    cursor: no-drop; 
    &:not(:last-of-type){
      margin-right: 25px;
    }
  }
}

.notifs__content,
.profile__content {
  display: none;
}

.searchBar {
  width: 100%;
  max-width: 500px;
  margin: 0 10%;
  outline:0;
  background: none;
  border: 1px solid #fff;
  border-radius: 19px;
  padding-left: 15px;
  height: 30px;
  font-size: 14px;

  &[placeholder] {
    font-family: $font-body;
    font-weight: normal;
    color: #fff;
    font-size: 14px;
  }
}