.singleVideo__container {
  background-color: $main-gray;
  color: #FFF;
}

.singleVideo__video__container {
  margin: 0 auto;
  width: 80%;
  background: #000;
  display: flex;
  justify-content: center;

  video {
    width: 100%;
  }
} 

.singleVideo__video__content {
  display: flex;
}

.singleVideo__video__content__infos {
  width: calc(100% - 370px);
  margin: 20px 30px 0 65px;

  .title {
    font-family: $font-title;
    letter-spacing: 1px;
    color:#fff;
    font-size: 30px;
    margin-bottom: 10px;
  }

  .subinfos {
    display: flex;

    p {
      text-transform: uppercase;
      font-weight: 100;
      font-size: 12px;
      margin-right: 10px;


    }
  }

  .profile {
    margin-top: 25px;
    margin-bottom: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    img {
      border-radius: 50%;
      width: 45px;
      height: 45px;
      margin-right: 15px;
    }

    .name {
      h2 {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 3px;
      }

      span {
        font-weight: 100;
        font-size: 14px;
      }
    }
  }

  .first-line {
    display: flex;
    justify-content: space-between;
  }

  .reactions-buttons {
    display: flex;
    align-items: center;

    li {
      border: 1px solid white;
      border-radius: 50%;
      transition: opacity 0.5s ease;
      opacity: 0.7;
      height: 40px;
      width: 40px;
      cursor: pointer;
      position: relative;
      span{
        vertical-align: middle;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        line-height: normal;
        transform: translateX(-50%) translateY(-50%);
      }

      &:not(:last-of-type) {
        margin-right: 20px;
      }


      &:hover {
        opacity: 1;
      }
    }
  }

  .description {
    font-size: 14px;
    color: #D8D8D8;
    line-height: 19px;
    padding-right: 30px;

    a {
      font-weight: 600;
      display: block;
      margin-top: 15px;
      text-transform: uppercase;
      font-size: 12px;
      color: #fff;
    }
  }
}

.bolded {
  font-weight: 600;
}


.singleVideo__video__content__comments {
  width: 370px;
    background: #2E2F30;
    color:white;
    padding: 20px;
    font-family: $font-body;
    h3{
        padding-bottom: 10px;
        font-size: 12.86px;
        font-weight: bold;
        line-height: 18px;
    }
    input{
        width: 100%;
        display: inline-block;
        background: transparent;
        border: 0px;
        border-bottom: 1px solid white;
        padding-bottom: 10px;
        color:white;
        outline: 0px;
        margin-bottom: 40px;
    }
    .comment{
        margin-bottom: 10px;
    }
    .user-section{
        text-align: left;
        display: flex;
        flex-direction: row;
        font-size: 12px;
        margin-bottom: 10px;
        img{
            // flex: 0;
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
        .user-infos{
            padding: 0px 10px;
            h4{
                margin: 0px;

                // padding: 0px 10px;
            }
            .info-date{
                font-size: 9px;
                color: #979797;
                font-weight: 100;
                margin-left: 20px;
            }
            .comment-likes{
                margin-top: 2px;
                span{
                    font-size: 10px;
                    margin-right: 5px;
                    color: #979797;
                    font-weight: 100;
                }
            }
        }
    }
    .comment-content{
        font-size: 10px;
        font-family: "SF";
        line-height: 15px;
        font-weight: 100;
    }


}