

@font-face {
  font-family: 'SG';
  src: url('assets/fonts/SharpGroteskDBCyrMedium20-Regular.woff2') format('woff2'),
      url('assets/fonts/SharpGroteskDBCyrMedium20-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF';
  src: url('assets/fonts/SFUIDisplay-Bold.woff2') format('woff2'),
      url('assets/fonts/SFUIDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SF';
  src: url('assets/fonts/SFUIDisplay-Regular.woff2') format('woff2'),
      url('assets/fonts/SFUIDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF';
  src: url('assets/fonts/SFUIDisplay-Semibold.woff2') format('woff2'),
      url('assets/fonts/SFUIDisplay-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF';
  src: url('assets/fonts/SFUIDisplay-Thin.woff2') format('woff2'),
      url('assets/fonts/SFUIDisplay-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SF';
  src: url('assets/fonts/SFUIDisplay-Black.woff2') format('woff2'),
      url('assets/fonts/SFUIDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

$font-title: 'SG', Helvetica, 'Helvetica Neue', sans-serif;
$font-body: 'SF', Helvetica, 'Helvetica Neue', sans-serif;